@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center;
    /* position: absolute;
    bottom: 0; */
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root {
    /* primary */
    --pri-orange: hsl(26, 100%, 55%);
    --pri-pale-orange: hsl(25, 100%, 94%);

    /* neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-gray-blue: hsl(219, 9%, 45%);
    --gray-blue: hsl(220, 14%, 75%);
    --light-gray-blue: hsl(223, 64%, 98%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    position: relative;
}

/* ==========popup box============= */

.box {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 15;
}

.preview-pop {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview-pop img {
    width: 100%;
    border-radius: 10px;
}

.image-pop {
    position: relative;
}

.close-pop {
    position: absolute;
    right: 0;
    bottom: 105%;
    width: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.close-pop img {
    filter: brightness(1000%);
}

.close-pop:hover img {
    filter: invert(66%) sepia(97%) saturate(1047%) hue-rotate(346deg) brightness(105%) contrast(106%);
}

.previous-pop {
    right: 105%;
}

.next-pop {
    left: 105%;
}

.thumb-pop {
    background-color: white!important;
}

/* ------nav------ */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}

header > * {
    flex-basis: 100%;
}

.left {
    display: flex;
    align-items: center;
}

.menu {
    border: 0;
    background: transparent;
    margin-right: 1em;
    cursor: pointer;
}

nav {
    position: fixed;
    z-index: 10;
    background: white;
    height: 100vh;
    width: 60%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: .2s ease;
}

.shown {
    transform: translateX(0);
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease;
}

.menu-close {
    border: 0;
    background: transparent;
    position: absolute;
    left: 1em;
    top: 2em;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin-top: 3em;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
}

nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: var(--pri-orange);
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) scale(0);
    transform-origin: center;
    transition: .2s cubic-bezier(1, -0.21, 0.69, 1.98)
}

nav a:hover::after,
nav a:focus::after {
    transform: translateX(-50%) scale(.99);
}

nav a:focus {
    outline: none;
}

.logo {
    width: clamp(90px, 50%, 150px);
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .7em;
}

.right > * {
    width: 35px;
}

.right button {
    border: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
}

#curr {
    position: absolute;
    background: var(--pri-orange);
    color: white;
    font-size: .7rem;
    font-weight: 700;
    padding: 0 8px;
    border-radius: 8px;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
    pointer-events: none;
}

.right button:hover .cart,
.menu:hover,
.menu-close:hover {
    filter: brightness(0);
    outline: none;
}

.cart {
    width: 60%;
}

.active {
    filter: brightness(0);
}

.right>img {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .2s ease;
}

.right>img:hover,
.right>img:focus {
    border-color: var(--pri-orange);
    outline: none;
}

.popup {
    position: absolute;
    width: 95%;
    height: 250px;
    border-radius: 10px;
    background: white;
    z-index: 3;
    top: 110%;
    left: 50%;
    pointer-events: none;
    opacity: 0;
    transition: .2s ease-in-out;
    transform: translateX(-50%) translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
}

.popup-shown {
    transform: translateX(-50%);
    opacity: 1;
    pointer-events: all;
}

.popup>p {
    margin: 1em;
    font-weight: 700;
    font-size: 1.1425rem;
}

.cart-item {
    position: relative;
    height: calc(225px - 2em);
}

.bg-text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#item {
    position: relative;
    background: white;
    z-index: 4;
    padding: 1em;
    transition: .2s ease;
}

.up {
    width :100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.contain>img {
    width: 25%;
    border-radius: 10px;
}

.up button {
    width: 20px;
    border: none;
    background: none;
    height: fit-content;
    justify-content: end;
    cursor: pointer;
}

.up img:last-child {
    width: 100%;
}

#text {
    color: var(--dark-gray-blue);
    font-weight: 500;
    line-height: 1.5;
}

strong {
    color: black;
}

.checkout {
    padding: 1em;
    background: var(--pri-orange);
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
    transition: .2s ease;
}

.checkout:hover {
    opacity: .6;
}

body>hr {
    opacity: .5;
}

/* ---------main-----------*/

.image,
.image-pop {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.previous,
.next,
.previous-pop,
.next-pop {
    border: 0;
    background: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    transition: .15s ease;
}

.previous:hover,
.next:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.previous {
    left: 1em;
}

.next {
    right: 1em;
}

.previous img,
.next img,
.previous-pop img,
.next-pop img {
    width: 25%;
}

.photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.thumbnails {
    display: none;
}

/* --------info------- */

.info {
    padding: 1em 1.5em;
}

.info h1 {
    color: var(--pri-orange);
    font-size: 1.25rem;
}

.info h2 {
    font-size: 2rem;
    margin: .5rem 0;
}

.info>p {
    color: var(--dark-gray-blue);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}

/* --------price------- */

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5em;
}

.price h3 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.price span {
    font-size: .725rem;
    background: var(--pri-pale-orange);
    border-radius: 5px;
    padding: .3em;
    color: var(--pri-orange);
    margin-left: .5em;
}

.discount {
    font-weight: 700;
    text-decoration: line-through;
    font-size: 1rem;
    color: var(--gray-blue);
}

/* ------------buttons--------- */

.items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--light-gray-blue);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
}

.items button {
    border: 0;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.items button:hover img {
    opacity: .6;
}

.add {
    width: 100%;
    border: 0;
    margin: .5em 0;
    background: var(--pri-orange);
    border-radius: 10px;
    padding: 1.2em 0;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease;
}

.add img {
    filter: brightness(100);
    margin-right: .5em;
}

.add:hover {
    opacity: .5;
    box-shadow: 0 10px 20px hsla(26, 100%, 55%, 0.5);
}

@media (min-width: 480px) {
    .photo {
        height: auto;
    }
}

@media (min-width: 600px) {
    main {
        padding: 2em 3em;
    }

    .preview {
        width: min(100%, 500px);
        margin: auto;
    }

    .preview-pop {
        width: 50%;
    }

    .photo {
        border-radius: 20px;
    }

    .photo ~ button {
        display: none;
    }

    .thumbnails,
    .thumbnails-pop {
        display: block;
        margin-top: 2em;
    }

    .thumbnails ul,
    .thumbnails-pop ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5em;
    }

    .thumb,
    .thumb-pop {
        background: none;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        transition: .2s ease;
    }

    .thumb:hover,
    .thumb-pop:hover {
        box-shadow: inset 0 0 0 1px var(--pri-orange);
        border-color: var(--pri-orange);
    }

    .thumb:hover img,
    .thumb-pop:hover img {
        opacity: .6;
    }

    .thumbnails img,
    .thumbnails-pop img {
        width: 100%;
        border-radius: 10px;
        transition: .2s ease;
    }

    .clicked {
        box-shadow: inset 0 0 0 1px var(--pri-orange);
        border-color: var(--pri-orange);
        pointer-events: none;
    }

    .clicked-img {
        opacity: .3;
    }
}
@media (min-width: 810px) {
    body {
        padding: 0 6em;
    }

    .preview-pop {
        width: 30%;
    }

    .popup {
        width: 400px;
        left: unset;
        top: 110%;
        right: 0;
        transform: translateY(-20px);
    }

    .popup-shown {
        transform: translateY(0);
    }

    main {
        padding: 3.5em 1.5em;
    }

    .container {
        display: flex;
        gap: 2.5em;
        justify-content: center;
        align-items: center;
    }

    .container>* {
        flex-basis: 100%;
    }

    .preview,
    .info {
        min-width: 300px;
    }

    .info {
        padding: 0;
    }

    .info>p {
        margin-top: 2em;
        max-width: 40ch;
    }

    .inputs {
        display: flex;
        gap: .5em;
    }
}

@media (min-width: 1100px) {
    .preview,
    .info {
        max-width: 450px;
        margin: 0;
    }

    .preview {
        margin-left: clamp(3em, 5%, 5em);
    }

    .info {
        margin-right: clamp(3em, 5%, 5em);
    }

    .container {
        justify-content: space-around;
    }

    .container>* {
        flex-basis: 45%;
    }

    .price {
        display: block;
        margin: 2em 0;
    }

    .left>button {
        display: none;
    }

    .logo {
        margin-right: 2em;
    }

    nav {
        display: flex;
        position: unset;
        background: transparent;
        height: auto;
        width: auto;
        transform: translate(0);
    }

    .menu-close {
        display: none;
    }

    nav ul {
        list-style: none;
        flex-direction: row;
        display: flex;
        gap: 4em;
        margin: 0;
    }
    
    nav a {
        text-decoration: none;
        color: var(--dark-gray-blue);
        font-weight: 400;
        position: relative;
    }

    nav a:hover,
    nav a:focus {
        color: black;
        font-weight: 700;
    }

    nav a::after {
        top: 100%;
        transform: translateY(45px) translateX(-50%) scaleX(0);
        border-radius: 0;
    }

    nav a:hover::after,
    nav a:focus::after {
        transform: translateY(45px) translateX(-50%) scaleX(1);
    }
}